/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-feb-17, 22:31:05
    Author     : vibeketengroth
*/

#messageBoard{
    height: 300px;
}

#canvas{

}

body{
    margin: 0px !important;
}